@font-face {
    font-family: 'ArchitectsDaughter';
    src: url(../fonts/ArchitectsDaughter.ttf);
}
@font-face {
    font-family: 'dogica';
    src: url(../fonts/dogica.otf);
}
@font-face {
    font-family: 'glitch';
    src: url(../fonts/Doctor\ Glitch.otf);
}
body {
    background-color: #D9D9D9;
    background-size: cover;
    background-repeat: no-repeat;
}
label{
    text-shadow: 0.07em 0em #FA00FF, -0.07em -0em #00E8FF;
    color: #191919;
    font-family: 'dogica';
    text-align: center;
}
h1{
    text-shadow: 0.07em 0em #FA00FF, -0.07em -0em #00E8FF;
    color: #000000;
    font-family:'glitch';
    font-size: 3.7em;
    text-align: center;
    
}
::placeholder{
    opacity: 0.5;
    text-shadow: 0.05em 0em #FA00FF, -0.05em -0em #00E8FF;
    color: #191919;
    font-family: 'dogica';
    text-align: center;
}
h3{
    font-size: small;
    font-family: 'ArchitectsDaughter';
    text-align: center;
}
h2{
    text-shadow: 0.07em 0em #FA00FF, -0.07em -0em #00E8FF;
    color: #191919;
    font-family: 'dogica';
    text-align: center;
}
.container1 {
    
}