@font-face {
    font-family: 'ArchitectsDaughter';
    src: url(../fonts/ArchitectsDaughter.ttf);
}
@font-face {
    font-family: 'lora';
    src: url(../fonts/Lora-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'FB';
  src: url(../fonts/FB\ Web\ Use\ Only.woff.ttf);
}
body {
  display: grid;
  place-content: center;
  background-color: #865aa8;
  background-size: cover;
  min-height: 35rem;
}
label{
    color: #191919;
    font-family: 'FB';
    text-align: center;
}
::placeholder{
    opacity: 0.5;
    color: white;
    font-family: 'FB';
    text-align: center;
}
h1 {
  color: white;
  font-family: 'lora';
}
h3{
    font-size: small;
    font-family: 'ArchitectsDaughter';
    text-align: center;
}
h2{
    color: white;
    font-family: 'FB';
    text-align: center;
    font-size: medium;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.temperature-wrapper {
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
}
.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  background: transparent;
  border: none;
  width: 320px;
  height: 40px;
  font-size: 16px;
  padding: 0 10px;
  border: 0.05rem solid white;
  border-radius: 5px;
}
.input:focus {
  outline: none;
}